# %STEM%.%EXT%

To run this code, you first need to install
[Bacting](https://github.com/egonw/bacting).
The Bioclipse workspace used can be found
[on GitHub](https://github.com/bioclipse/bioclipse.scripting/tree/master/ws/).

**Source code:**

```%SYNTAX%
%SOURCECODE%
```

**Output:**

```plain
%OUT%
```
